.evaluation {
  background-color: var(--color-fill-0);
  text-align: center;
  border-radius: 6px;
  padding: 12px 16px;
  margin-top: 40px;
  font-size: 14px;
  color: var(--color-text-2);
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    text-align: left;
  }
  div.button {
    cursor: pointer;
    width: auto;
    padding: 0 12px;
    height: 32px;
    margin-left: 6px;
    background-color: var(--color-bg-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-primary);
    svg {
      margin-right: 12px;
      stroke: var(--color-text-1) !important;
    }
    &:hover {
      background-color: var(--color-fill-0);
    }
    @media screen and (max-width: 768px) {
      margin-top: 12px;
    }
  }
  .title {
    color: var(--color-text-1);
    font-size: 14px;
    line-height: 20px;
  }
  textarea {
    display: block;
    margin-bottom: 20px;
    margin-top: 8px;
  }
}
.community {
  border-top: 1px solid var(--color-border);
  margin-top: 40px;
  padding-top: 8px;
  padding-bottom: 100px;
}
.page {
  color: inherit;
  font-weight: 500;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #3d3d3d00),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: 1px solid hsl(var(--input));
  border-radius: calc(var(--radius) - 2px);
  justify-content: center;
  align-items: center;
  min-height: 2.25rem;
  display: inline-flex;
  width: auto;
  gap: 0.5rem;
  cursor: pointer;
  span {
    flex: 1;
  }
  &:hover {
    background-color: hsl(var(--accent));
    color: inherit;
    text-decoration: none;
  }
}

.vote {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.RaiseButton {
  margin-left: auto;
  background-color: var(--color-bg-1);
  color: var(--color-text-2);
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.marquee {
  width: 100%;
  height: 40px;
  overflow: hidden;
  background-color: var(--scroll-banner-bg);
  color: var(--color-text-2);
  border-radius: 4px;
  font-size: 14px;
  margin-top: 6px;
  @media screen and (max-width: 630px) {
    display: none;
  }
  @media screen and (min-width: 997px) and (max-width: 1168px) {
    display: none;
  }
}
