.headerSection {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding-right: 12px;
}

@media (max-width: 900px) {
  .headerSection {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
