.videoWrap {
  display: block;
  border-radius: 8px;
  width: 272px;
  height: 154px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
  &.videoWrapWait {
    cursor: not-allowed;
  }
  .star {
    position: absolute;
    background: var(--color-overlay-bg);
    cursor: pointer;
    border-radius: 16px;
    width: 72px;
    height: 48px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.11);
    }
    .wait {
      font-size: 12px;
      line-height: 24px;
      color: #fff;
      font-weight: 600;
      cursor: not-allowed;
    }
  }
  img {
    display: block;
    padding: 0!important;
    transition: unset;
    cursor: unset;
    border: unset!important;
    border-radius: 4px!important;
  }
}
.title {
  padding-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  &.titleWait {
    color: var(--color-text-2);
  }
}