.buttonCainter {
  max-width: 140px;
  max-height: 33px;
  button {
    font-weight: 500;
    border: 1px solid var(--color-border) !important;
    background-color: var(--color-bg-1) !important;
    color: var(--color-text-0) !important;
    &:hover {
      background-color: var(--color-fill-1) !important;
    }
    &:last-child {
      svg {
        position: relative;
        top: 2px;
      }
    }
  }
}

.buttonText {
  svg {
    color: var(--color-text-0) !important;
  }
  span {
    color: var(--color-text-1);
  }
}
.svg {
  position: relative;
  top: 1px !important;
  path {
    fill: var(--color-text-0) !important;
  }
}
