/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
//  @import './mixins'; // mixins
@import "./font.scss"; // font
@import "./theme.scss"; // theme
@import "./steps.scss"; // steps
@import "./details-card.scss"; // details-card
@import "./alert.scss"; // 信息组件
@import "./menu.scss"; // 菜单样式
@import "./breadcrums.scss"; // 面包样式
@import "./navbar.scss"; // top bar
@import "./markdown.scss"; // markdown
@import "./pagination.scss"; // 底部导航
@import "./icons-color.scss"; // 自定义 icon 颜色类
@import "./toc.scss"; // TOC
@import "./table.scss"; // table

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 997px) {
  .container {
    max-width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.global-container-width {
  width: 1280px;
  margin: 0 auto;
  @media screen and (min-width: 1001px) and (max-width: 1279px) {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include media {
    width: 100%;
    padding-left: mpx(20);
    padding-right: mpx(20);
  }
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: var(--ifm-font-family-base);
  font-variation-settings: normal;
}
body {
  font-feature-settings: "rlig" 1, "calt" 1;
  color: hsl(var(--foreground));
  font-variation-settings: normal;
  background-color: hsl(var(--background));
  font-family: var(--ifm-font-family-base);
}
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul.post-list {
  li {
    list-style: none !important;
    a {
      text-decoration: unset;
    }
  }
}
li {
  margin-top: 0.5rem;
}
h1 {
  font-size: 2.25rem;
}
hr {
  background-color: var(--color-border);
  margin: 0;
  height: 1px;
}
#__docusaurus {
  position: relative;
  inset: 0;
  background-image: radial-gradient(
    ellipse 80% 50% at 50% -20%,
    rgba(120, 119, 198, 0.2),
    hsla(0, 0%, 100%, 0)
  );
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.docs-wrapper {
  #__docusaurus {
    background-image: unset;
  }
}
.main-wrapper {
  position: relative;
  z-index: 1;
}
.home-page {
  margin-bottom: 60px;
}
.hero__title {
  margin-bottom: 40px;
}

.docs-wrapper.docs-doc-page .footer {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.tabs-container p {
  margin-bottom: var(--ifm-leading);
}

.iframe-video,
video {
  max-width: 100%;
  margin-top: 1.5rem;
  border-radius: 0.4rem;
  border: 1px solid hsl(var(--border));
}

.searchTopActionWrap {
  display: inline-block;
}

.searchTopAction {
  padding: 12px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: var(--color-text-1);
}
.text-blue {
  color: rgba(50, 147, 248, 1);
  font-weight: bold;
}

.text-red {
  color: red;
  font-weight: bold;
}

.text-orange {
  color: orange;
  font-weight: bold;
}

// mark
.fontSize12 {
  font-size: 12px;
}
.fontSize14 {
  font-size: 14px;
}
.fontSize16 {
  font-size: 16px;
}
.fontSize18 {
  font-size: 18px;
}
.fontSize20 {
  font-size: 20px;
}
.fontSize22 {
  font-size: 22px;
}
.fontSize24 {
  font-size: 24px;
}
.fontSize26 {
  font-size: 26px;
}
.fontSize28 {
  font-size: 28px;
}
.fontSize30 {
  font-size: 30px;
}
.g-db {
  display: block;
}
.g-dib {
  display: inline-block;
}
.g-dn {
  display: none;
}
.g-w100 {
  width: 100%;
}
.g-h100 {
  height: 100%;
}
.g-wh100 {
  width: 100%;
  height: 100%;
}
div[class^="announcementBar"] {
  z-index: 3;
}
div[class^="docsWrapper"] {
  z-index: 3;
}
ul[class*="searchResultItemPath"] {
  color: var(--color-text-1) !important;
}
div[class*="searchQueryColumn"] {
  margin-top: 1rem;
}

// antd end
.margin-vert--xl {
  min-height: 62vh;
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.4px);
  }
}

// page 404
.Page404carBody {
  animation: floatAnimation 0.5s ease-in-out infinite;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Page404rotating {
  animation: rotateAnimation 3s linear infinite;
  transform-origin: 38.6% 88.5%;
}
.Page404rotatingRight {
  animation: rotateAnimation 2s linear infinite;
  transform-origin: 76.5% 88.5%;
}

@keyframes exhaustAnimation {
  0% {
    transform: translateX(10px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(0.4);
    opacity: 0;
  }
}
.Page404exhaustR {
  animation: exhaustAnimation 2s ease-out infinite;
}
// page 404 end
.databend-logo-01,
.databend-logo-02 {
  display: none;
}
[data-theme="light"] .databend-logo-01 {
  display: block;
}
[data-theme="dark"] .databend-logo-02 {
  display: block;
}

.ant-row {
  display: flex;
  flex-flow: row wrap;
}
// antd start
.ant-input:focus {
  box-shadow: 0px 0px 0px 4px rgba(1, 117, 246, 0.25),
    inset 0px 0px 0px 0.5px #0175f6;
}
.ant-modal-root .ant-modal-mask {
  background-color: var(--docsearch-container-background) !important;
}
@media (min-width: 1200px) {
  .ant-col-md-8 {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .ant-col-xl-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.global-overview-card {
  display: flex;
  align-items: flex-start;
  text-decoration: unset !important;
  color: hsl(var(--foreground)) !important;
  > div {
    flex: 1;
  }
}

.ant-input-outlined {
  border-color: transparent !important;
  background: var(--color-bg-0) !important;
  &:focus {
    border-color: var(--color-primary) !important;
  }
}
.ant-input-lg,
.ant-input {
  font-size: 12px;
  &::placeholder {
    color: var(--color-text-2);
  }
}
.ant-alert {
  color: var(--color-text-1) !important;
}
.ant-btn-lg {
  font-size: 14px;
}
.ant-alert {
  border: unset;
  font-size: 12px;
}
textarea {
  padding-top: 12px !important;
}

.ant-popover .ant-popover-inner {
  background-color: var(--color-bg-1);
}
.ant-alert-info {
  background: var(--color-info-light-default);
}
.ant-form-item .ant-form-item-label > label {
  color: var(--color-text-1);
}
.ant-popover {
  --antd-arrow-background-color: var(--color-bg-1);
}
.ant-input {
  color: var(--color-text-1);
}
#cc-main .cm {
  border: 1px solid var(--color-border);
}
.ant-space-compact-block {
  display: flex;
  width: 100%;
}
.ant-btn {
  font-size: 14px;
  height: 32px;
  padding: 0px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: var(--color-bg-1);
  .ant-dropdown-menu-item {
    color: var(--color-text-1);
    &:hover {
      background-color: var(--color-fill-1);
    }
  }
}
