// navbar start
.navbar {
  backdrop-filter: blur(8px);
  background-color: unset;
  @include media {
    backdrop-filter: unset;
    background-color: var(--ifm-mobile-bg-header);
    .navbar__logo {
      img {
        width: 80%;
      }
    }
  }
}
.navbar-sidebar {
  @include media {
    border-right: 1px solid hsl(var(--border));
  }
}
.navbar-sidebar--show {
  .navbar__logo {
    img {
      width: 88%;
    }
    @include media {
      img {
        width: 70%;
      }
    }
  }
}

.navbar__search {
  @include media {
    display: none;
  }
}
.navbar__search-input {
  cursor: pointer;
  border-radius: calc(var(--radius) - 2px);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border: 1px solid hsl(var(--input));
  &:hover {
    border: 2px solid var(--ifm-menu-color-active);
  }
  &::placeholder {
    font-weight: bold;
    color: var(--color-text-2);
  }
}
.navbar__link {
  font-weight: 600;
}

.navbar__search-input {
  border-radius: 3px !important;
  --ifm-navbar-search-input-background-color: var(--color-fill-0) !important;
  --ifm-navbar-search-input-color: var(--color-text-1);
}
// navbar end

.navbar__title {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  top: 2.4px;
}
.navbar__brand:hover {
  color: var(----ifm-navbar-link-color);
}
div[class^="searchBox"] {
  width: 167.4px;
  button {
    margin-left: 0;
  }
  @include media {
    width: auto;
  }
}
.theme-announcement-bar {
  z-index: 10;
}
