.pagination-nav,
.databend-bottom-footer,
.footer,
.theme-doc-footer, 
.databend-right-table-contents {
  display: none !important;
}

div[role="region"][aria-label="Skip to main content"] {
  display: none;
}
div[role="region"][aria-label="跳到主要内容"] {
  display: none;
}
pre,
table {
  white-space: break-spaces;
}
@media print {
  .ant-col-md-8 {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .ant-col-xl-12 {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
code, td, th {
  white-space: pre-wrap;
}
.global-overview-card {
  display: flex;
  align-items: flex-start;
  text-decoration: unset !important;
  color: hsl(222.2 47.4% 11.2%) !important;
  > div {
    flex: 1;
  }
}

.theme-doc-markdown.markdown table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.theme-doc-markdown.markdown p + img,
.theme-doc-markdown.markdown h2 + img,
.theme-doc-markdown.markdown h3 + img {
  margin-top: 1.5rem;
}

.theme-doc-markdown.markdown .tabs {
  margin-top: 1.5rem;
  border-bottom: 1px solid hsl(216 34% 17%);
  font-weight: 600;
}

.theme-doc-markdown.markdown .tabs .tabs__item {
  padding: 0.5rem 1rem 0.75rem;
}

.theme-doc-markdown.markdown .tabs .tabs__item.tabs__item--active {
  border-color: rgb(59 130 246);
}

.theme-doc-markdown.markdown p {
  margin-top: 1.5rem !important;
  margin-bottom: 0 !important;
  line-height: 1.75rem;
}

.theme-doc-markdown.markdown p:first-child {
  margin-top: 1rem !important;
}

.theme-doc-markdown.markdown > h2 {
  letter-spacing: -0.025em;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 0.5rem;
  scroll-margin: 5rem;
  margin-top: 3rem;
  border-bottom: 1px solid hsl(216 34% 17%);
  margin-bottom: 0;
}

.theme-doc-markdown.markdown > h3 {
  letter-spacing: -0.025em;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  scroll-margin: 5rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.theme-doc-markdown.markdown .token.plain {
  color: #414141;
}

.theme-doc-markdown.markdown pre {
  background-color: unset;
}

.theme-doc-markdown.markdown pre code {
  font-size: 1rem;
}

.theme-doc-markdown.markdown header + h2 {
  margin-top: 1.5rem;
}

.theme-doc-markdown.markdown a {
  text-underline-position: from-font;
  font-weight: 500;
  text-decoration-line: underline;
  color: rgb(37 99 235);
  text-underline-offset: 4px;
  line-height: 1.75rem;
}

.theme-doc-markdown.markdown code {
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: unset;
  padding: 0.2rem 0.3rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background-color: hsl(210 40% 96.1%);
}

.theme-doc-markdown.markdown h1 {
  font-size: 2.25rem;
}

.theme-doc-markdown.markdown h1:first-child {
  font-size: 2.25rem;
  line-height: 2.5rem;
  scroll-margin: 5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.theme-doc-markdown.markdown img {
  object-fit: contain;
  max-height: 520px;
  width: auto;
  border-radius: 6px;
  padding: 0.6rem;
  border: 1px solid hsl(216 34% 17%);
  background-color: rgba(18,24,38,1.00);
  cursor: zoom-in;
}

.theme-doc-markdown.markdown table tr,
.theme-doc-markdown.markdown table th {
  font-size: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee!important;
}

.theme-doc-markdown.markdown table td {
  border: unset;
  border-bottom: 1px solid hsl(216 34% 17%);
}

.theme-doc-markdown.markdown table td:first-child {
  border-left: 1px solid hsl(216 34% 17%);
}

.theme-doc-markdown.markdown table td:last-child {
  border-right: 1px solid hsl(216 34% 17%);
}

.theme-doc-markdown.markdown table th {
  white-space: nowrap;
}

.theme-doc-markdown.markdown table thead tr {
  border: 1px solid hsl(216 34% 17%);
}

.theme-doc-markdown.markdown div[class^="codeBlockContainer"] {
  box-shadow: unset;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.theme-doc-markdown.markdown div[class^="codeBlockContainer"]:has(.language-text) {
  background-color: hsl(210 40% 96.1%);
}

.theme-doc-markdown.markdown code[class^="codeBlockLines"] {
  padding: 1rem;
  font-size: 0.9em;
  border: 1px solid hsl(216 34% 17%);
}

.theme-doc-markdown.markdown [class^="codeBlockContainer"]:not([class*=" language-"]) {
  border-left: 5px solid rgba(50,147,248,1.00);
}

.theme-doc-markdown.markdown div[class^="language-"] {
  border-left: 5px solid rgba(50,147,248,1.00);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: unset;
  background-color: unset;
}

.theme-doc-markdown.markdown div[class^="language-"] pre {
  border-radius:3px;
  background-color: unset;
}

.theme-doc-markdown.markdown div[class^="language-"] div[class^="codeBlockTitle_"] {
  border: 1px solid hsl(216 34% 17%);
  border-left: unset;
  border-top-left-radius: 3px;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  background: #fff !important;
  color: #393A34;
}

.theme-doc-markdown.markdown div[class^="language-"] div[class^="codeBlockTitle_"] + div code {
  border-top: unset;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.theme-doc-markdown.markdown div[class^="language-"] code {
  padding: 1rem;
  font-size: 0.9em !important;
  border: 1px solid hsl(216 34% 17%);
  border-left: unset;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important
