.outWrap {
  width: 1100px;
  @media (max-width: 1365px) {
    width: 900px;
  }
  @media (max-width: 1235px) {
    width: 100%;
  }
}
.homPpageSectionLeft {
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 2rem;
    width: 350px;
  }
  .logo {
    margin-bottom: 4px;
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.top {
  .topCard {
    a {
      height: 100%;
      text-decoration: unset !important;
      h3 {
        display: flex;
        // white-space: nowrap;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 18px;
        span {
          flex: 1;
        }
      }
      div {
        font-size: 14px;
        line-height: 20px;
        color: hsl(var(--foreground)) !important;
      }
    }
  }
}
.cardWrap {
  border-top: 1px solid var(--color-border);
  display: flex;
  padding-bottom: 2rem;
  padding-top: 2rem;
  @media (max-width: 1235px) {
    flex-direction: column;
    .content {
      margin-top: 30px;
    }
  }
}

.smallCard {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: normal !important;
  color: hsl(var(--foreground)) !important;
  text-decoration: unset !important;
  padding: 4px;
  border-radius: 4px;
  &:hover {
    background-color: var(--color-fill-0);
  }
  span {
    line-height: 20px;
  }
}
// .commomCard {
//   border-top: 1px solid var(--color-border);
//   border-bottom: 1px solid var(--color-border);
// }
